@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    background-color: hsl(234, 29%, 20%);
    color: hsl(235, 18%, 26%);
    font-size: 16px;
    font-family: 'Kalam', cursive;
font-family: 'Roboto', sans-serif;

}


li{
    list-style-image: url('/assets/images/icon-list.svg');
    
}


.bg-news{
    background-color: hsl(234, 29%, 20%);
    border-color:  hsl(234, 29%, 20%);
}

